<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
<h3>Cookies</h3>
<table class="table">
    <tbody>
    <tr th:each="cookieKey : ${cookies.keySet()}">
        <td th:text="${cookieKey} + '=' + ${cookies.get(cookieKey)}">cookie</td>
    </tr>
    </tbody>
</table>

<h3>Headers</h3>
<table class="table">
    <tbody>
    <tr th:each="headerKey : ${headers.keySet()}">
        <td th:text="${headerKey} + '=' + ${headers.get(headerKey)}">header</td>
    </tr>
    </tbody>
</table>

<a href="/">Back</a>
</body>
</html>
